<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="urraan.internship.chapter2_loginpage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chapter2_LoginPage">
        <activity
            android:name=".UpdateBikeDetails"
            android:exported="true"
            android:label="Update Details"/>

        <activity
            android:name=".RecyclerViewBikeDetails"
            android:exported="true"
            android:label="Bike Details"/>
        <activity
            android:name=".BikeDataActivity"
            android:exported="true"
            android:label="Add Bike"/>
        <activity
            android:name=".Register_UserActivity"
            android:exported="true"
            android:label="Register User"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>